BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk0" SITE "35" ;
LOCATE COMP "en0" SITE "47" ;
LOCATE COMP "re0" SITE "48" ;
LOCATE COMP "cdiv0[0]" SITE "56" ;
LOCATE COMP "cdiv0[1]" SITE "55" ;
LOCATE COMP "cdiv0[2]" SITE "54" ;
LOCATE COMP "cdiv0[3]" SITE "52" ;
LOCATE COMP "cdiv0[4]" SITE "50" ;
LOCATE COMP "Q0[31]" SITE "0" ;
LOCATE COMP "Q0[30]" SITE "0" ;
LOCATE COMP "Q0[29]" SITE "0" ;
LOCATE COMP "Q0[28]" SITE "143" ;
LOCATE COMP "Q0[27]" SITE "142" ;
LOCATE COMP "Q0[26]" SITE "141" ;
LOCATE COMP "Q0[25]" SITE "140" ;
LOCATE COMP "Q0[24]" SITE "139" ;
LOCATE COMP "Q0[23]" SITE "138" ;
LOCATE COMP "Q0[22]" SITE "137" ;
LOCATE COMP "Q0[21]" SITE "136" ;
LOCATE COMP "Q0[20]" SITE "133" ;
LOCATE COMP "Q0[19]" SITE "132" ;
LOCATE COMP "Q0[18]" SITE "131" ;
LOCATE COMP "Q0[17]" SITE "130" ;
LOCATE COMP "Q0[16]" SITE "128" ;
LOCATE COMP "Q0[15]" SITE "127" ;
LOCATE COMP "Q0[14]" SITE "126" ;
LOCATE COMP "Q0[13]" SITE "125" ;
LOCATE COMP "Q0[12]" SITE "122" ;
LOCATE COMP "Q0[11]" SITE "121" ;
LOCATE COMP "Q0[10]" SITE "120" ;
LOCATE COMP "Q0[9]" SITE "119" ;
LOCATE COMP "Q0[8]" SITE "117" ;
LOCATE COMP "Q0[7]" SITE "115" ;
LOCATE COMP "Q0[6]" SITE "114" ;
LOCATE COMP "Q0[5]" SITE "113" ;
LOCATE COMP "Q0[4]" SITE "112" ;
LOCATE COMP "Q0[3]" SITE "111" ;
LOCATE COMP "Q0[2]" SITE "110" ;
LOCATE COMP "Q0[1]" SITE "109" ;
LOCATE COMP "Q0[0]" SITE "34" ;
PROHIBIT SITE "58" ;
PROHIBIT SITE "60" ;

